@mixin profile-pic {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: 2px solid black;
}

@mixin mod-panel_delete-button {
    padding: 2px 5px;
    border-radius: .1em;
    background-color: rgba(255, 52, 52, 0.459);
    border: 1px solid rgb(156, 1, 1);
    &:hover {
      background-color: rgba(255, 52, 52, 0.3);
      border: 1px solid rgba(197, 0, 0, 0.5);
    }
}