$default_background: rgb(248, 248, 248);

$default_smooth-border: rgb(189, 189, 189);

$small_black-border: rgba(0, 0, 0, 0.1);
$smooth_black-border: rgba(0, 0, 0, 0.3);
$medium_black-border: rgba(0, 0, 0, 0.5);